@model GerenciamentoDeLojaMVC.Models.Produtos

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h4>@ViewData["Title"]</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Validade)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="EditarProduto" asp-route-id="@Model.Id">Editar Produto</a>
</div>